@*
    Provides feedback to user
*@

@{
    ViewBag.Title = @ViewBag.Title;
}
@*<h2>@ViewBag.Title</h2>


    <div class="form-horizontal">
            <div class="form-group">
                <div class="col-md-10">
                    @ViewBag.Message
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    <a href="@Url.Action(ViewBag.RedirectAction, ViewBag.RedirectControl)" class="btn btn-primary" style="background-color:black;">Back</a>
                </div>
            </div>

    </div>*@
